# Environment & secrets
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.spec
*.egg

# PyInstaller
*.manifest
*.spec

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Temp files
*.tmp
mnt/
